<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" >
    <title>Carl &amp; Friends</title>

  </head>
  <body>
    {{> header}}
    <ul style="display:block">
      <li style="display:inline-block"><img src={{images.image3}} alt="Carl the Unicorn Picture" width="300px" /></li>
      <li style="display:inline-block"><img src={{images.image1}} alt="Carl the Unicorn Picture" width="300px" /></li>
      <li style="display:inline-block"><img src={{images.image2}} alt="Carl the Unicorn Picture" width="300px" /></li>
    </ul>
{{> footer}}
  </body>
</html>
